<div ng-if="main.fetchingRooms">
  Getting rooms
</div>
<ul ng-if="!main.fetchingRooms" class="row">
  <li ng-repeat="room in main.rooms" class="col-xs-4">
    {{ room.name }}
    {{ room.roomPin }}
    <button type="button" name="button" ng-click="main.removeRoom(room)">
      remove room
    </button>
    <button type="button" name="button" ui-sref="room({roomId: room._id.$oid})">
      goto room
    </button>
  </li>
</ul>
<input type="text" ng-model="main.roomName">
<button ng-click="main.newRoom(main.roomName)">new room</button>
