<main ng-tabs class="c-room">

  <section class="c-room__head">
    <div>
      <span count-to="{{roomCtrl.myCoins}}" value="{{roomCtrl.oldCoins}}" duration="2"></span>&nbsp;coins
    </div>
    <div>
      Round&nbsp;{{roomCtrl.currentRound}}
    </div>
  </section>

  <section class="c-room__window">

    <div class="u-hidden c-room__cards" ng-tab-body="extra-classes">
      Cards
      <img src="assets/images/king.png" alt="">
    </div>

    <div class="u-hidden c-room__vault" ng-tab-body="extra-classes">
      <ol class="c-vault__pincode">
        <li class="c-vault__pincode__number" ng-model="roomCtrl.enteredPin[x]" ng-repeat="x in [0,1,2,3,4]">
            {{roomCtrl.enteredPin[x].verbose }}
        </li>
      </ol>

      <ul class="c-vault__pinnumbers">
        <li ng-click="roomCtrl.addPinNumber(pin)" class="c-vault__pinnumber" ng-repeat="pin in roomCtrl.availablePinNumbers">
          <div class="icon ripple">
            {{ pin.verbose }}
          </div>
        </li>
      </ul>

      <button type="button" name="button" class="o-button o-button--success ripple" ng-click="roomCtrl.enterVault()">Enter vault</button>
    </div>

    <div class="u-hidden c-room__storage" ng-tab-body="extra-classes">
      <ul>
        <li ng-repeat="item in roomCtrl.myStorage">
          {{ item.amount }}{{ item.currencyLink.measure }} {{ item.currencyLink.name }} <br>
          worth {{ item.amount * item.currencyLink.buyFor * (1-item.currencyLink.sellForPercentage) | number : 2 }} coins
        </li>
      </ul>
    </div>

    <div class="u-hidden c-room__barn" ng-tab-body="extra-classes">
      <ul>
        <li ng-repeat="animal in roomCtrl.myBarn">
          {{ animal.amount }} x {{ animal.assetLink.name }} <br>
          worth {{ animal.amount * animal.assetLink.buyFor * (1-animal.assetLink.sellForPercentage) | number : 2 }} coins
        </li>
      </ul>
    </div>

    <div class="u-hidden c-room__market" ng-tab-body="extra-classes">
      <div ng-tabs>
        <div ng-tab-head="active" class="o-button ripple">Currencies</div>
        <div ng-tab-head class="o-button ripple">Animals</div>
        <ul class="market__currencies u-hidden" ng-tab-body>
          <li class="market__currency" ng-repeat="animal in roomCtrl.assets">
            {{ animal.currency.name }} <br>
            sell: {{ animal.currency.buyFor * (1-animal.currency.sellForPercentage) | number : 2 }} / buy: {{ animal.currency.buyFor | number : 2 }}
          </li>
        </ul>
        <ul class="market__animals u-hidden" ng-tab-body>
          <li class="market__animal" ng-repeat="animal in roomCtrl.assets"
            ng-swipe-item
            on-left="roomCtrl.sellAnimal(animal)"
            on-right="roomCtrl.buyAnimal(animal)"
            left-template="app/routes/room/partials/buy.html"
            right-template="app/routes/room/partials/sell.html"
            threshold="0.2">
            {{ animal.name }} <br>
            sell: {{ animal.buyFor * (1-animal.sellForPercentage) | number : 2 }} / buy: {{ animal.buyFor | number : 2 }}
          </li>
        </ul>
      </div>

      <button type="button" name="button" class="o-button o-button--success ripple" ng-click="roomCtrl.nextRound()">Next round</button>

      <div id="chart"></div>

    </div>

  </section>

  <ul class="c-room__tabs">
    <li ng-tab-head class="room__tab ripple">
      Cards
    </li>
    <li ng-tab-head class="room__tab ripple" ng-click="roomCtrl.shufflePinNumbers()">
      Vault
    </li>
    <li ng-tab-head class="room__tab ripple">
      Storage
    </li>
    <li ng-tab-head class="room__tab ripple">
      Barn
    </li>
    <li ng-tab-head="active" class="room__tab ripple">
      Market
    </li>
  </ul>
</main>
