<main ng-tabs class="c-game-room">

  <header class="c-room__head">
    <div class="room__player">
      <span class="player__indicator">
        Player
      </span>
      <span class="player__name">
        {{ roomCtrl.user.name | limitTo : 9 }}
      </span>
    </div>
    <ul class="room__assets">
      <li class="room__asset">
        <img class="c-icon" src="assets/images/money_clean.png" alt="money">
        <span class="c-amount-indicator c-amount-indicator--secondary" count-to="{{roomCtrl.myCoins}}" value="{{roomCtrl.oldCoins}}" duration="2" decimals="2"></span>
      </li>
      <li class="room__asset" ng-repeat="animal in roomCtrl.myBarn" ng-if="animal.active">
        <img class="c-icon" ng-src="assets/images/{{animal.assetLink.image_clean}}" alt="{{animal.assetLink.name}}">
        <span class="c-amount-indicator c-amount-indicator--secondary" count-to="{{animal.amount}}" value="{{animal.oldAmount}}" duration="2"></span>
      </li>
    </ul>
  </header>

  <div class="c-turn">
    <div class="c-time-left">
      <i class="material-icons">hourglass_empty</i>
      {{ roomCtrl.timeThisRound | secondsToDateTime | date:'mm:ss' }}
    </div>
  </div>

  <div class="c-room__windows">
    <section class="u-hidden c-window c-window--addons" ng-tab-body="extra-classes" ng-if="roomCtrl.addonsAvailable">
      <div class="c-window__header">
        Add-ons
      </div>
      <div class="c-window__subheader">
        Add-ons you buy last throughout the game. Choose wisely!
      </div>
      <section class="c-addons">
        <div class="c-addons__tree" ng-repeat="addonTree in roomCtrl.addons">
          <div class="o-card" ng-class="{
            'o-card--transaction': addonTree.addonType == 1,
            'o-card--defence': addonTree.addonType == 2,
            'o-card--animal': addonTree.addonType == 3,
          }">
            <h1 class="o-card__title">
              {{ addonTree.name }}
            </h1>
            <div class="o-card__icon">
              <img ng-src="assets/images/{{addonTree.image}}" alt="">
            </div>
          </div>
          <section class="addons">
            <div class="addon" ng-repeat="addon in addonTree.addons" ng-click="roomCtrl.buyAddon(addon, addonTree, $index)" ng-disabled="!addon.available">
              <img class="c-icon--bigger" ng-src="assets/images/{{addon.image}}" alt="">
              <div class="cost" ng-if="!addon.owned">
                {{ addon.buyFor }}
              </div>
              <div class="owned" ng-if="addon.owned">
                <i class="material-icons">check</i>
                own
              </div>
              <span class="text">
                {{ addon.text }}
              </span>
            </div>
          </section>
        </div>
      </section>
    </section>

    <section class="u-hidden c-window c-window--market" ng-tab-body="extra-classes">
      <div class="c-window__header">
        Markets
      </div>
      <div ng-tabs class="c-markets">
        <div class="market__currencies u-hidden" ng-tab-body>
          <ul class="c-big-list">
            <li class="c-big-list__item swipable" ng-repeat="animal in roomCtrl.assets"
              ng-if="animal.currency.active"
              ng-swipe-item
              on-left="roomCtrl.sellProduct(animal.currency)"
              on-right="roomCtrl.buyProduct(animal.currency)"
              left-template="app/routes/room/partials/buy.html"
              right-template="app/routes/room/partials/sell.html"
              threshold="0.2">
              <div class="c-big-list__icon">
                <img class="c-icon--large" ng-src="assets/images/{{animal.currency.image}}" alt="{{animal.currency.name}}">
              </div>
              <div class="c-big-lig__metadata">
                <h1 class="metadata__title">
                  {{ animal.currency.name }}
                </h1>
                <h2 class="metadata__subtitle">
                  {{((animal.currency.buyFor * (1-animal.currency.sellForPercentage)) + animal.currency.buyFor) / 2 | number : 2 }}
                </h2>
                <div class="metadata__info">
                  <div class="trend trend--higher" ng-if="animal.currency.buyFor > animal.currency.previousBuyFor">
                    <i class="material-icons">trending_up</i>
                    +{{ animal.currency.buyFor - animal.currency.previousBuyFor }}
                  </div>
                  <div class="trend trend--lower" ng-if="animal.currency.buyFor < animal.currency.previousBuyFor">
                    <i class="material-icons">trending_down</i>
                    -{{ animal.currency.previousBuyFor - animal.currency.buyFor }}
                  </div>
                  <div class="trend trend--same" ng-if="animal.currency.buyFor == animal.currency.previousBuyFor">
                    <i class="material-icons">trending_flat</i>
                    -
                  </div>
                </div>
              </div>
              <div class="graph" id="graph--{{animal.currency.name}}"></div>
            </li>
          </ul>
        </div>
        <div class="market__animals u-hidden" ng-tab-body ng-if="roomCtrl.animalsAvailable">
          <ul class="c-big-list">
            <li class="c-big-list__item swipable" ng-repeat="animal in roomCtrl.assets"
              ng-if="animal.active"
              ng-swipe-item
              on-left="roomCtrl.sellAnimal(animal)"
              on-right="roomCtrl.buyAnimal(animal)"
              left-template="app/routes/room/partials/buy.html"
              right-template="app/routes/room/partials/sell.html"
              threshold="0.2">
              <div class="c-big-list__icon">
                <img class="c-icon--large" ng-src="assets/images/{{animal.image}}" alt="{{animal.name}}">
              </div>
              <div class="c-big-lig__metadata">
                <h1 class="metadata__title">
                  {{ animal.name }}
                </h1>
                <h2 class="metadata__subtitle">
                  {{ ((animal.buyFor * (1-animal.sellForPercentage)) + animal.buyFor) / 2 | number : 0 }}
                </h2>
                <div class="metadata__info">
                  <span>
                    <strong>Buy:</strong> {{ animal.buyFor | number : 0 }} &#162;/each
                  </span>
                  <span>
                    <strong>Sell:</strong> {{ animal.buyFor * (1-animal.sellForPercentage) | number: 0 }} &#162;/each
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="c-window__actions">
          <button ng-tab-head="active" class="o-button o-button--active ripple" ng-class="{
            'o-button--rounded-right': roomCtrl.animalsAvailable
          }">
            <i class="material-icons">whatshot</i>
            Products
          </button>
          <button ng-tab-head class="o-button o-button--active o-button--rounded-left ripple" ng-if="roomCtrl.animalsAvailable">
            <i class="material-icons">pets</i>
            Animals
          </button>
        </div>
      </div>

    </section>

    <section class="u-hidden c-window c-window--storage" ng-tab-body="extra-classes">
      <div class="c-window__stats-header">
        <ul class="c-window__stats">
          <li class="c-window__stat">
            <span class="c-amount-indicator c-amount-indicator--primary c-amount-indicator--full">
              fee: {{ roomCtrl.wallet.transaction_fee * ((100 - roomCtrl.wallet.transaction_fee_decrease)/100) }}
              <span class="small">&#162;</span>
              <span ng-if="roomCtrl.wallet.transaction_fee_decrease > 0">(-{{roomCtrl.wallet.transaction_fee_decrease}}%)</span>
            </span>
          </li>
          <li class="c-window__stat">
            <img class="c-icon c-icon--rounded" ng-src="assets/images/guard_clean.png" alt="guard">
            <span class="c-amount-indicator c-amount-indicator--primary">
              {{ roomCtrl.wallet.security }}
            </span
          </li>
        </ul>
      </div>
      <ul class="c-big-list">
        <li class="c-big-list__item" ng-repeat="item in roomCtrl.myStorage" ng-if="item.active" ng-disabled="!item.canUse">
          <div class="c-big-list__icon">
            <img class="c-icon c-icon--large" ng-src="assets/images/{{item.currencyLink.image_clean}}" alt="{{item.currencyLink.name}}">
          </div>
          <div class="c-big-lig__metadata">
            <h1 class="metadata__title">
              {{ item.currencyLink.name }}
            </h1>
            <h2 class="metadata__subtitle">
              <span count-to="{{ item.amount }}" value="{{ item.oldAmount }}" duration="1" decimals="1"></span>{{ item.currencyLink.measure }}
            </h2>
            <div class="metadata__info">
              = {{ item.amount * item.currencyLink.buyFor * (1-item.currencyLink.sellForPercentage) | number : 2 }} &#162;
            </div>
          </div>
        </li>
      </ul>
      <div class="c-window__actions">
        <button class="o-button o-button--accent ripple" ng-if="roomCtrl.vaultAvailable" ng-click="roomCtrl.transferProducts(roomCtrl.myStorage, roomCtrl.myVault, 'storage', 'vault')">
          <i class="material-icons">compare_arrows</i>
          Transfer
        </button>
      </div>
    </section>

    <section class="u-hidden c-window c-window--cards" ng-tab-body="extra-classes" ng-if="roomCtrl.cardsAvailable">
      <h1 class="c-window--cards__title">
        Your cards <span>(2/3)</span>
      </h1>
      <ul class="c-cards">
        <li class="o-card ripple" ng-repeat="card in roomCtrl.cards track by $index"
          ng-class="{
            'o-card--attack': card.type === 1,
            'o-card--defence': card.type === 2
          }"
          ng-click="roomCtrl.buyOrSelectCard(card, $index)">
          <h1 class="o-card__title">
            {{ card.verbose || "Buy card" }}
          </h1>
          <div class="o-card__icon">
            <img ng-if="card.image" ng-src="assets/images/{{card.image}}" alt="">
            <img ng-if="!card.image" src="assets/images/money.png" alt="">
          </div>
          <div class="o-card__effect">
            +{{ card.effect || "600" }}
          </div>
        </li>
      </ul>
      <h2 class="c-window--cards__title">
        Card information
      </h2>
      <section class="c-window--cards__highlight">
        <div class="o-card"
          ng-if="roomCtrl.highlightedCard.type"
          ng-class="{
            'o-card--attack': roomCtrl.highlightedCard.type === 1,
            'o-card--defence': roomCtrl.highlightedCard.type === 2
          }">
          <h1 class="o-card__title">
            {{ roomCtrl.highlightedCard.verbose || "card" }}
          </h1>
          <div class="o-card__icon">
            <img ng-if="roomCtrl.highlightedCard.image" ng-src="assets/images/{{roomCtrl.highlightedCard.image}}" alt="">
            <img ng-if="!roomCtrl.highlightedCard.image" src="assets/images/money.png" alt="">
          </div>
          <div class="o-card__effect">
            +{{ roomCtrl.highlightedCard.effect || "2" }}
          </div>
        </div>
        <div class="highlighted-card__metadata">
          <h1 class="metadata__title">
            {{ roomCtrl.highlightedCard.verbose || "No card is selected" }}
          </h1>
          <div class="metadata__info">
            {{ roomCtrl.highlightedCard.text || "Select a card to use it and see detailed information" }}
          </div>
          <button ng-if="roomCtrl.highlightedCard.type" class="o-button o-button--accent ripple">play card</button>
        </div>
      </section>
    </section>

    <section class="u-hidden c-window c-window--vault" ng-tab-body="extra-classes" ng-if="roomCtrl.vaultAvailable">
      <div class="c-window__stats-header">
        <span class="title">
          <i class="material-icons">security</i>
          Vault
        </span>
        <ul class="c-window__stats">
          <li class="c-window__stat">
            <span class="c-amount-indicator c-amount-indicator--primary c-amount-indicator--full">
              fee: {{ roomCtrl.wallet.transaction_fee * ((100 - roomCtrl.wallet.transaction_fee_decrease)/100) }}
              <span class="small">&#162;</span>
              <span ng-if="roomCtrl.wallet.transaction_fee_decrease > 0">(-{{roomCtrl.wallet.transaction_fee_decrease}}%)</span>
            </span>
          </li>
        </ul>
      </div>
      <ul class="c-big-list c-big-list--dark">
        <li class="c-big-list__item" ng-repeat="item in roomCtrl.myVault" ng-if="item.active && roomCtrl.enteredVault" ng-disabled="!item.canUse">
          <div class="c-big-list__icon">
            <img class="c-icon c-icon--large" ng-src="assets/images/{{item.currencyLink.image_clean}}" alt="{{item.currencyLink.name}}">
          </div>
          <div class="c-big-lig__metadata">
            <h1 class="metadata__title">
              {{ item.currencyLink.name }}
            </h1>
            <h2 class="metadata__subtitle">
              <span count-to="{{ item.amount }}" value="{{ item.oldAmount }}" duration="1" decimals="2"></span>{{ item.currencyLink.measure }}
            </h2>
            <div class="metadata__info">
              = {{ item.amount * item.currencyLink.buyFor * (1-item.currencyLink.sellForPercentage) | number : 2 }} coins
            </div>
          </div>
        </li>
      </ul>
      <div class="c-window__actions">
        <button class="o-button o-button--accent ripple" ng-if="roomCtrl.vaultAvailable && roomCtrl.enteredVault" ng-click="roomCtrl.transferProducts(roomCtrl.myVault, roomCtrl.myStorage, 'vault', 'storage')">
          <i class="material-icons">compare_arrows</i>
          Transfer
        </button>
      </div>
    </section>
  </div>

  <ul class="c-window__tabs">
    <li ng-tab-head="active" class="window__tab ripple" ng-if="roomCtrl.addonsAvailable">
      <i class="material-icons">queue</i>
      Add-ons
    </li>
    <li ng-tab-head class="window__tab ripple">
      <i class="material-icons">store</i>
      Market
    </li>
    <li ng-tab-head class="window__tab ripple">
      <i class="material-icons">home</i>
      Storage
    </li>
    <li ng-tab-head class="window__tab ripple" ng-if="roomCtrl.cardsAvailable">
      <i class="material-icons">content_copy</i>
      Cards
    </li>
    <li ng-tab-head class="window__tab ripple" ng-click="roomCtrl.enterVault()" ng-if="roomCtrl.vaultAvailable">
      <i class="material-icons">security</i>
      Vault
    </li>
  </ul>
</main>
