$primaryColor: #F3F3F3;
$secondaryColor: #420B3E;
$accentColor: #ef6f25;
$activeColor: #00609E;
$titleColor: #016099;


$green: #4CAF50;
$red: #F44336;
$black: rgb(6, 6, 6);
$white: rgb(251, 251, 251);
