@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: Komika;
    src: url('../assets/fonts/KOMIKAX_.ttf');
}

@font-face {
  font-family: 'Dalton Maag text';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Dalton Maag - Co Text.ttf');;
}

@font-face {
  font-family: 'Dalton Maag text light';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Dalton Maag - Co Text Light.ttf');
}

@font-face {
  font-family: 'Dalton Maag headline';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/Dalton Maag - Co Headline.ttf');
}

@font-face {
  font-family: 'Dalton Maag headline bold';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Dalton Maag - Co Headline Bold.ttf');
}

@font-face {
  font-family: 'Dalton Maag headline light';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/Dalton Maag - Co Headline Light.ttf');
}
