$o-button-change-percentge: 15;

.o-button {
  border: none;
  font-family: 'Komika';
  line-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
  }

  &--success {
    background: $green;
  }
  &--error {
    background: $red;
  }

  &--active {
    background: $activeColor;
    &-light,
    &.active {
      background: lighten($activeColor, $o-button-change-percentge);
    }
  }

  &--accent {
    background: $accentColor;
    &-light,
    &.active {
      background: lighten($accentColor, $o-button-change-percentge);
    }
  }

  &--success,
  &--error,
  &--accent,
  &--accent-light,
  &--active,
  &--active-light {
    color: white;
  }

  .material-icons {
    margin-right: 0.5em;
  }
}
