$o-button-change-percentge: 25;

.o-button {
  border: none;
  font-family: 'Dalton Maag headline';
  line-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  min-width: 50px;

  &:focus {
    outline: none;
  }

  &--success {
    background: $green;
  }
  &--error {
    background: $red;
  }

  &--active {
    background: lighten($activeColor, $o-button-change-percentge);
    &-light,
    &.active {
      background: $activeColor;
    }
  }

  &--accent {
    background: $accentColor;
    &[disabled] {
      background: lighten($accentColor, $o-button-change-percentge);
    }
  }

  &--success,
  &--error,
  &--accent,
  &--active,
  &--active-light {
    color: white;
  }

  .material-icons {
    margin-right: 0.5em;
  }

  &--rounded {
    &-left {
      border-radius: 50px 0 0 0;
    }
    &-right {
      border-radius: 0 50px 0 0;
    }
  }
}
