.c-big-list {
  background: $primaryColor;
  padding: 0;
  margin: 0;
  width: 100%;
  color: $black;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .c-big-list__item {
    flex-grow: 1;
    display: flex;

    &:nth-of-type(even) { background: lighten($primaryColor, 5); }

    &[disabled] { opacity: 0.1; }

    &.swipable {
      > div {
        width: 100%;
        .ng-scope { height: 100%; }
        .swiper-content {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          > div {
            display: flex;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    .c-big-list__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 16px;
    }

    .c-big-lig__metadata {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex-grow: 1;

      .metadata__title {
        margin: 0;
        font-size: 1.35em;
        color: $titleColor;
        font-family: 'Dalton Maag headline light';
      }

      .metadata__subtitle {
        margin: 0;
        font-size: 2.4em;
        font-family: 'Dalton Maag headline bold';
      }

      .metadata__info {
        font-family: 'Dalton Maag text light';
        font-size: 0.75em;

        strong {
          color: lighten($black, 15);
        }
      }
    }
  }

  &--dark {
    background: $black;
    color: $white;

    .c-big-list__item {
      &:nth-of-type(even) { background: lighten($black, 15); }

      .c-big-lig__metadata {
        .metadata__info {
          strong {
            color: darken($white, 15);
          }
        }
      }
    }
  }
}
