.c-window--cards {
  display: flex;
  flex-direction: column;
  padding: 0 16px 32px 16px;

  .c-window--cards__title {
    color: $titleColor;
    font-size: 1em;
    margin-bottom: 1em;
    span { font-size: 0.65em; }
  }

  .c-cards {
    display: flex;
    padding: 0;
    margin: 0;

    .o-card {
      width: 33.33%;
      min-height: 150px;

      &:nth-of-type(even) { margin: 0 8px; }
    }
  }

  .c-window--cards__highlight {
    background: darken($primaryColor, 10);
    border-radius: 8px;
    flex-grow: 1;
    display: flex;

    .o-card {
      min-width: 45%;
      z-index: 10;
      box-shadow: 0 3px 5px -1px rgba(0,0,0,.4),
                  0 6px 10px 0 rgba(0,0,0,.28),
                  0 1px 18px 0 rgba(0,0,0,.24);
    }

    .highlighted-card__metadata {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .metadata__title,
      .metadata__info {
        padding: 0 16px;
        color: $black;
      }

      .metadata__title {
        margin: 1em 0 0.5em;;
        font-size: 1em;
      }

      .metadata__info {
        font-family: 'Open Sans', sans-serif;
        font-size: 0.75em;
        flex: 1;
        display: flex;
        align-items: center;
      }

      .o-button {
        border-radius: 0 0 8px 0;
      }
    }
    // height: 150px;
  }
}
