.c-dialog {
  display: flex;
  align-items: center;

  .ngdialog-overlay { z-index: 0; }

  .ngdialog-content {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 5;

    .c-dialog__title {
      color: $white;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.25em;
    }

    .c-dialog__container {
      width: 100%;

      .c-dialog__content {
        background: $white;
        border-radius: 16px 16px 0 0;
        padding: 8px 32px 16px 32px;

        &--vault {
          background: lighten($black, 15);
        }

        .c-dialog__close {
          font-size: 1.7em;
          display: flex;
          justify-content: flex-end;
          font-family: 'Dalton Maag text light';

          .c-dialog__close__button {
            color: lighten($black, 50);
            background: none;
            outline: none;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: -16px;
            &:focus { outline: 0; }
            &[ng-disabled] { opacity: 0; }
          }

        }

        .c-dialog__icon {
          display: flex;
          justify-content: center;
          margin: 0 auto .75em auto;
        }

        .c-info-blocks {
          display: flex;
          .c-info-block {
            flex-grow: 1;
            background: lighten($black, 90);
            margin: 0.5em 0;
            border-radius: 6px;
            padding: 8px;
            text-align: center;
            color: $titleColor;

            &:not(:first-of-type) {
              margin-left: 0.5em;
            }
          }
        }

        .title {
          color: $titleColor;
          font-family: 'Dalton Maag headline light';
          text-align: center;
          font-size: 1.5em;

          &--turquoise {
            color: $turquoise;
          }
        }

        .subtitle {
          font-size: 1.75em;
          text-align: center;
          margin: 1.5em 0;
        }

        .text {
          font-family: 'Dalton Maag text light';
          text-align: center;
          color: lighten($black, 15);
          margin: 1em 0;

          &.warning {
            font-size: 0.7em;
            padding: 8px;
            border: 1px solid $accentColor;
            border-radius: 6px;
          }

          &.dialog {
            background: #F3F3F3;
            padding: 8px;
            border-radius: 6px;
            margin-top: -0.25em;

            &:before {
              content: '';
              height: 34px;
              width: 29px;
              position: absolute;
              background-image: url('../assets/images/tail_grey.png');
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              margin-top: -2em;
              margin-left: 3em;
            }
          }
        }

        input {
          width: 100%;
          border: none;
          font-size: 1.5em;
          border-bottom: 1px solid lighten($black, 40);
          transition: all 350ms;

          &:focus {
            border-bottom: 1px solid $turquoise;
            outline: none;
          }
        }

        h1,
        h2 {
          margin: 0;
        }
      }
      .c-dialog__buttons {
        background: $white;
        display: flex;

        .o-button {
          flex-grow: 1;
        }
      }
    }

  }

  &--black {

    .ngdialog-content {
      background: lighten($black, 15);

      .c-dialog__container {
        .c-dialog__content {
          .title {
            color: $white;
          }
        }
      }

      .ngdialog-close {
        color: $white;
      }
    }
  }

}

.c-dialog__content--market {

  .price {
    font-family: 'Dalton Maag headline bold';
    text-align: center;
    font-size: 2.5em;

    .per {
      display: block;
      text-align: right;
      color: lighten($black, 40);
      font-size: 0.35em;
      margin-right: 1.5em;
    }
  }

  .transaction_fee {
    font-family: 'Dalton Maag text light';
    text-align: center;
    color: lighten($black, 15);
    margin: 1em 0;
  }

  .amount {
    display: flex;
    justify-content: center;

    .amount__number {
      border: none;
      min-width: 60px;
      margin: 0 0.5em;
      text-align: center;
      font-size: 2.25em;
    }

    .o-button {
      font-size: 2em;
      color: lighten($black, 10);
    }
  }

  .warnings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dalton Maag headline bold';
    color: $accentColor;
    font-size: 0.8em;
    margin: 0.5em 0;
    text-align: center;
  }
}

.small {
  font-size: 0.8em;
}
