.c-dialog {
  display: flex;
  align-items: center;

  .ngdialog-overlay { z-index: -1; }

  .ngdialog-content {
    width: 90vw;
    margin: 0 auto;
    border-radius: 15px 15px 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    .c-dialog__container {
      width: 100%;

      .c-dialog__content {
        margin: -16px 16px 0 16px;

        .c-dialog__icon {
          display: flex;
          justify-content: center;
          margin: 0 auto .5em auto;
        }

        .title {
          color: $titleColor;
          font-family: 'Dalton Maag headline light';
          text-align: center;
          font-size: 1.5em;
        }

        .text {
          font-family: 'Dalton Maag text light';
          text-align: center;
          color: lighten($black, 15);
          margin: 1em 0;
        }

        h1,
        h2 {
          margin: 0;
        }
      }
      .c-dialog__buttons {
        margin-top: 16px;
        display: flex;

        .o-button {
          flex-grow: 1;
        }
      }
    }

    .ngdialog-close {
      margin: 8px 8px 0 0;
      width: 30px;
      border: none;
      background: none;
      font-size: 1.75em;
      color: lighten($black, 15);
    }

  }

  &--black {

    .ngdialog-content {
      background: lighten($black, 15);

      .c-dialog__container {
        .c-dialog__content {
          .title {
            color: $white;
          }
        }
      }

      .ngdialog-close {
        color: $white;
      }
    }
  }
}

.c-dialog__content--market {
  .product__icon,
  .animal__icon {
    display: flex;
    justify-content: center;
    margin: 0 auto .5em auto;
  }

  .price {
    font-family: 'Dalton Maag headline bold';
    text-align: center;
    font-size: 3em;
    margin: 0.45em !important;

    .per {
      display: block;
      text-align: right;
      color: lighten($black, 40);
      font-size: 0.35em;
      margin-right: 1.5em;
    }
  }

  .transaction_fee {
    font-family: 'Dalton Maag text light';
    text-align: center;
    color: lighten($black, 15);
    margin: 1em 0;
  }

  .amount {
    display: flex;
    justify-content: center;

    .amount__number {
      border: none;
      width: 11vw;
      margin: 0 0.5em;
      text-align: center;
      font-size: 2.25em;
    }

    .o-button {
      font-size: 2em;
      color: lighten($black, 10);
    }
  }

  .warnings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Dalton Maag headline bold';
    color: $accentColor;
    font-size: 0.8em;
    margin: 0.5em 0;
  }
}

.c-dialog__content--vault {

}

.small {
  font-size: 0.6em;
}
