$c-icon-size: 26px;

.c-icon {
  width: $c-icon-size;
  height: $c-icon-size;

  &--small {
    width: $c-icon-size * 0.7;
    height: $c-icon-size * 0.7;
  }

  &--medium {
    width: $c-icon-size * 1.7;
    height: $c-icon-size * 1.7;
  }

  &--big {
    width: $c-icon-size * 2.2;
    height: $c-icon-size * 2.2;
  }

  &--large {
    width: $c-icon-size * 4;
    height: $c-icon-size * 4;
  }
}
