.c-window--market {
  display: flex;
  flex-direction: column;

  .c-market__header {
    color: $titleColor;
    font-family: 'Dalton Maag headline bold';
    font-size: 1.55em;
    padding: 6px 0 6px 16px;
  }

  .sellItem,
  .buyItem {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buyItem { background: $green; }
  .sellItem { background: $red; }

  .c-markets {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }

  .market__currencies,
  .market__animals {
    flex-grow: 1;
  }

  .c-big-list {
    .metadata__subtitle {
      &:after {
        content: '\00a2';
        font-size: 0.7em;
      }
    }
  }
}
