.c-window--market {
  .sellItem,
  .buyItem {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buyItem { background: $green; }
  .sellItem { background: $red; }

  .c-markets {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .market__currencies,
  .market__animals {
    flex-grow: 1;

    // .animals,
    // .currencies {
    //   padding: 0;
    //   margin: 0;
    //   width: 100%;
    //   background: $primaryColor;
    //   flex-grow: 1;
    //   display: flex;
    //   flex-direction: column;
    //   color: white;
    //
    //   .currency,
    //   .animal {
    //     flex-grow: 1;
    //     display: flex;
    //     &:nth-of-type(even) { background: lighten($primaryColor, 5); }
    //
    //     > div {
    //       width: 100%;
    //       .ng-scope { height: 100%; }
    //       .swiper-content {
    //         width: 100%;
    //         height: 100%;
    //       }
    //     }
    //   }
    // }
  }
}
//
// .c-window--market {
//   .buyItem {
//     background: green;
//   }
//   .sellItem {
//     background: red;
//   }
//
//   .buyItem,
//   .sellItem {
//     width: 40vw;
//     max-width: 100px;
//     height: 60px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//
//   .market__animals {
//     padding: 0;
//     margin: 0;
//
//     .market__animal {
//       height: 60px;
//       border-bottom: 1px solid black;
//       display: flex;
//       justify-content: center;
//       align-items: center;
//
//       > div {
//         width: 100%;
//         height: 100%;
//
//         .swiper-content {
//           width: 100%;
//           height: 100%;
//         }
//       }
//     }
//   }
// }
