.c-window--market {
  display: flex;
  flex-direction: column;

  .sellItem,
  .buyItem {
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .buyItem { background: $green; }
  .sellItem { background: $red; }

  .c-markets {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
  }

  .market__currencies,
  .market__animals {
    flex-grow: 1;
  }

  .c-big-list {
    .metadata__title {
      color: $black !important;
    }
    .metadata__subtitle {
      &:after {
        content: '\00a2';
        font-size: 0.7em;
      }
    }

    .trend {
      font-size: 1.25em;
      display: flex;
      justify-content: center;
      font-weight: bold;
      align-items: center;
      &:after {
        content: '\00a2';
      }

      .material-icons { margin-right: 0.25em; }

      &--higher {
         color: $green;
        .material-icons { color: $green; }
      }
      &--lower {
         color: $red;
        .material-icons { color: $red; }
      }
      &--flat {
        color: lighten($black, 25);
        .material-icons { color: lighten($black, 25); }
      }
    }
  }

  .graph {
    width: 45vw;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 45% !important;
    min-height: 45% !important;

    &#graph--Wool,
    &#graph--Milk,
    &#graph--Bacon {
      height: 45% !important;
      min-height: 45% !important;
    }

    .highcharts-container {
      // height: 100% !important;
    }
  }
}
