$c-room-head-icon-size: 26px;

.c-game-room {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.c-room__head {
  background: $secondaryColor;
  color: white;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .room__player {
    display: flex;
    flex-direction: column;

    .player__indicator {
      color: lighten($accentColor, 20);
      font-size: 0.4em;
    }

    .player__name {
      color: $accentColor;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
    }
  }

  .room__assets {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75em;

    .room__asset {
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;

      &:not(:last-of-type) { margin-right: 6px; }

      .c-icon { z-index: 10; }

    }
  }
}

.c-room__windows {
  flex-grow: 1;
  background: rgb(224, 224, 224);
  display: flex;

  .c-window {
    width: 100%;

    .c-window__actions {
      display: flex;
      width: 100%;
      > button {
        flex-grow: 1;
      }
    }
  }
}

.c-window__tabs {
  margin: 0;
  padding: 0;
  display: flex;
  height: 75px;

  .window__tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    list-style: none;
    transition: all 350ms;
    background: $secondaryColor;
    color: white;
    font-size: 0.7em;

    .material-icons { margin-bottom: 0.1em; }

    &:focus { outline: none; }

    &.active {
      background: $activeColor;
      font-size: 1em;
      .material-icons {
        font-size: 32px;
      }
    }
  }
}
