.c-window--vault {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.c-vault__guard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.75em;

  .guard__text {
    text-align: center;
    font-size: 0.75em;
    padding: 8px 16px 6px 16px;
  }
}

.c-vault__pincode {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.c-vault__pincode__number {
  background: lighten($primaryColor, 5);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
}

.c-vault__pinnumbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.c-vault__pinnumber {
  width: 33vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-of-type) { margin-bottom: 0.5em; }

  &:focus { outline: none; }
}
