<section class="c-dialog__container">
  <h1 class="c-dialog__title">
    You've been robbed!
  </h1>
  <div class="c-dialog__content">
    <div class="c-dialog__close">
      <button ng-click="closeThisDialog()" class="c-dialog__close__button">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="c-dialog__icon">
      <img class="c-icon--huge" ng-src="assets/images/guard.png" alt="">
    </div>
    <h1 class="title">
      Bandits looted every product in your storage!
    </h1>
    <p class="text">
      Upgrade your storage security to prevent bandits from looting your storage again!
    </p>
  </div>

  <div class="c-dialog__buttons">
    <button class="o-button o-button--success ripple" ng-click="confirm()">
      <i class="material-icons">check</i>
      Got it
    </button>
  </div>
</section>
