<h1>
  Welcome to the market
</h1>

<h2>You have {{ marketCtrl.coins | number : 0 }} coins in your pocket</h2>

<h2>Animals</h2>
<ul>
  <li ng-repeat="animal in marketCtrl.assets">
    {{animal.name }} ({{ marketCtrl.animals[$index].amount}} in barn)<br>
    Sell {{ animal.sellFor }}/{{animal.name }} | buy {{ animal.buyFor }}/{{animal.name }} <br>
    Sell <input type="text" name="" ng-model="sellAmount" type="number">{{animal.name }} for {{ (sellAmount * animal.sellFor || 0) | number : 2 }}
    <button type="button" name="button">Sell</button> <br>
    Buy <input type="text" name="" ng-model="buyAmount" type="number">{{animal.name }} for {{ (buyAmount * animal.buyFor || 0) | number : 2 }}
    <button type="button" name="button" ng-click="marketCtrl.buyAnimal(animal, buyAmount)">Buy</button> <br>
  </li>
</ul>
<h2>Products</h2>
<ul>
  <li ng-repeat="animal in marketCtrl.assets">
    {{ animal.currecy.name }} ({{ marketCtrl.products[$index].amount}}{{marketCtrl.products[$index].measure}} in storage) <br>
    Sell {{ animal.currecy.sellFor }}/{{ animal.currecy.measure }} | buy {{ animal.currecy.buyFor }}/{{ animal.currecy.measure }} <br>
    Sell <input type="text" name="" ng-model="sellAmount" type="number">{{animal.currecy.measure}} for {{ (sellAmount * animal.currecy.sellFor || 0) | number : 2 }}
    <button type="button" name="button">Sell</button> <br>
    Buy <input type="text" name="" ng-model="buyAmount" type="number">{{animal.currecy.measure}} for {{ (buyAmount * animal.currecy.buyFor || 0) | number : 2 }}
    <button type="button" name="button" ng-click="marketCtrl.buyProduct(animal.currecy, buyAmount)">Buy</button> <br>
  </li>
</ul>
<button ng-click="closeThisDialog(marketCtrl)">
  Close market
</button>
