<section class="c-dialog__container">
  <h1 class="c-dialog__title">
    Sell {{ sellProductCtrl.product.name }}
  </h1>
  <div class="c-dialog__content c-dialog__content--market">
    <div class="c-dialog__close">
      <button ng-click="closeThisDialog()" class="c-dialog__close__button">
        <i class="material-icons">close</i>
      </button>
    </div>
    <div class="c-dialog__icon">
      <img class="c-icon--large" ng-src="assets/images/{{ sellProductCtrl.product.image }}" alt="">
    </div>
    <h1 class="title">
      {{ sellProductCtrl.product.name }}
    </h1>
    <h2 class="price">
      {{ sellProductCtrl.product.buyFor * (1-sellProductCtrl.product.sellForPercentage) | number : 2 }} <span class="small">&#162;</span>
      <span class="per">/ {{ sellProductCtrl.product.measure }}</span>
    </h2>
    <div class="amount">
      <button class="o-button amount__minus ripple" ng-click="sellProductCtrl.changeAmount(false)">-</button>
      <input class="amount__number" type="number" name="" value="1" ng-model="sellProductCtrl.sellAmount" ng-change="sellProductCtrl.parseAmount()">
      <button class="o-button amount__plus ripple" ng-click="sellProductCtrl.changeAmount(true)">+</button>
    </div>
    <div class="warnings">
      <span ng-if="sellProductCtrl.sellAmount > sellProductCtrl.productInStorage.amount">
        You do not have enough {{ sellProductCtrl.product.plural }}
      </span>
    </div>
    <div class="transaction_fee">
      + transaction fee: {{sellProductCtrl.transactionFee}}&#162;
    </div>
  </div>

  <div class="c-dialog__buttons">
    <!-- <button class="o-button o-button--error ripple" ng-click="closeThisDialog()">Cancel</button> -->
    <button class="o-button o-button--accent ripple" ng-click="confirm({amountToSell: sellProductCtrl.sellAmount})" ng-disabled="sellProductCtrl.sellAmount > sellProductCtrl.productInStorage.amount">
      <i class="material-icons">offline_pin</i>
      Sell ({{ (sellProductCtrl.transactionFee + sellProductCtrl.sellAmount * (sellProductCtrl.product.buyFor * (1-sellProductCtrl.product.sellForPercentage)) || 0) | number : 2 }}<span class="small">&#162;</span>)
    </button>
  </div>
</section>
