<section class="c-dialog__container">
  <div class="c-dialog__content">
    waiting for other users

    {{ waitForUsersCtrl.room.users.length }} / {{ waitForUsersCtrl.roomMembersNeededToPlay }}
  </div>

  <div class="c-dialog__buttons">
    <button class="o-button o-button--error ripple" ng-click="confirm({closedByButton: true})">Quit room</button>
    <button ng-if="waitForUsersCtrl.createdRoom" class="o-button o-button--success ripple" ng-click="confirm()" ng-disabled="waitForUsersCtrl.room.users.length < waitForUsersCtrl.roomMembersNeededToPlay">Start game</button>
  </div>
</section>
